/* Fonts */
@font-face {
   font-family: 'Vazirmatn';
   font-display: swap;
   font-weight: 400;
   src: local(''),
   url('../fonts/vazirmatn-v6-latin-regular.woff2') format('woff2'),
   url('../fonts/vazirmatn-v6-latin-regular.woff') format('woff');
}

@font-face {
   font-family: 'Vazirmatn';
   font-display: swap;
   font-weight: 500;
   src: local(''),
   url('../fonts/vazirmatn-v6-latin-500.woff2') format('woff2'),
   url('../fonts/vazirmatn-v6-latin-500.woff') format('woff');
}

@font-face {
   font-family: 'Vazirmatn';
   font-display: swap;
   font-weight: 700;
   src: local(''),
   url('../fonts/vazirmatn-v6-latin-700.woff2') format('woff2'),
   url('../fonts/vazirmatn-v6-latin-700.woff') format('woff');
}