/* General codes */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*::before,
*::after {
   box-sizing: inherit;
}

html {
   height: 100%;
}

body {
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   font-weight: 500;
   font-family: "Vazirmatn", "Arial", sans-serif;
   color: #ffffff;
   background-color: #00426b;
}

a {
   text-decoration: none;
}

/* Sticky-footer */
.site-main {
   flex-grow: 1;
}