/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.site-main {
  display: flex;
}

.statistics {
  max-width: 940px !important;
  width: 100%;
}

.progress {
  margin-bottom: 16px;
  padding-top: 27px;
}

.progress__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.progress__list {
  width: 100%;
  max-width: 290px;
  list-style-type: none;
}

.progress__item {
  overflow: hidden;
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
}

.progress__item:not(:last-child) {
  margin-bottom: 5px;
}

.progress__item-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 3px;
  text-align: end;
  background-color: #0e294a;
}

.progress__item-visitors::before {
  content: "";
  display: block;
  width: 50px;
  height: 40px;
  background-image: url("./../images/1.svg");
  background-repeat: no-repeat;
}

.progress__item-views::before {
  content: "";
  display: block;
  width: 50px;
  height: 40px;
  background-image: url("./../images/5.svg");
  background-repeat: no-repeat;
}

.progress__item-companys::before {
  content: "";
  display: block;
  width: 50px;
  height: 40px;
  background-image: url("./../images/2.svg");
  background-repeat: no-repeat;
}

.progress__item-visitors-age::before {
  content: "";
  display: block;
  width: 50px;
  height: 40px;
  background-image: url("./../images/user.svg");
  background-repeat: no-repeat;
}

.progress__item-visitors-country::before {
  content: "";
  display: block;
  width: 50px;
  height: 40px;
  background-image: url("./../images/earth.svg");
  background-repeat: no-repeat;
}

.progress__item-amount::before {
  content: "";
  display: block;
  width: 50px;
  height: 40px;
  background-image: url("./../images/3.svg");
  background-repeat: no-repeat;
}

.number {
  font-weight: 700;
  font-size: 28px;
  white-space: nowrap;
}

.text-wrapper {
  padding: 7px 0 5px 0;
  background-color: #002338;
  text-align: center;
}

.text {
  font-size: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.progressing {
  max-width: 515px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.progressing .text-wrapper {
  padding: 8px 0 4px 0;
}

.progressing-box {
  width: 100%;
  padding-right: 20px;
  background-color: #0e294a;
}

.canvas {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.legend {
  max-width: 250px;
  margin-left: 30px;
}

.title {
  font-family: "Verdana", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #591d48;
}

.caption-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.caption-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0;
  padding-left: 30px;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}
.caption-item:not(:last-child) {
  margin-bottom: 30px;
}

.caption-item:hover {
  opacity: 0.8;
}

.caption-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.caption-item:nth-child(1)::before {
  background-color: #00dfdf;
}

.caption-item:nth-child(2)::before {
  background-color: #f0f374;
}

.caption-item:nth-child(3)::before {
  background-color: #8e098e;
}

.caption-item:nth-child(4)::before {
  background-color: #5df95a;
}

.caption-item:nth-child(5)::before {
  background-color: #ff0000;
}

.chart {
  max-height: 255px;
}

.unit {
  fill: none;
  stroke-width: 5;
  cursor: pointer;

  -webkit-animation-name: render;

  animation-name: render;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.unit:hover,
.hovered {
  opacity: 0.8;
  stroke-width: 7;
}

.unit:nth-child(1) {
  stroke: #00dfdf;
  stroke-dasharray: 30 100;
}

.unit:nth-child(2) {
  stroke: #ff0000;
  stroke-dasharray: 14 100;
  stroke-dashoffset: -30;
}

.unit:nth-child(3) {
  stroke: #5df95a;
  stroke-dasharray: 14 100;
  stroke-dashoffset: -53;
}

.unit:nth-child(4) {
  stroke: #f0f374;
  stroke-dasharray: 35 100;
  stroke-dashoffset: -67;
}

.unit:nth-child(5) {
  stroke: #8e098e;
  stroke-dasharray: 9 100;
  stroke-dashoffset: -44;
}

.diagram-desc {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 180px);
  text-align: center;
}

.diagram-desc p {
  inline-size: 135px;
  overflow-wrap: break-word;
}

.diagram-desc__end {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 180px);
  width: 199px;
  text-align: center;
}

.diagram-desc__end p {
  inline-size: 135px;
  overflow-wrap: break-word;
  margin-left: 2rem;
}

.progressing__heading {
  font-weight: 700;
  letter-spacing: 1.5px;
}

.progressing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.progressing-item:not(:last-child) {
  margin-bottom: 15px;
}

.progressing__item-span {
  margin-right: 20px;
  margin-left: 20px;
}
.progress-visitors__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.last-progressing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  list-style-type: none;
  padding: 3px 0 0 0;
  background-color: #0e294a;
}

.last-progressing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.last-progressing__item:nth-child(1) .last-progressing__diagram {
  display: block;
  width: 50px;
  height: 65px;
  margin-bottom: 10px;
  background-color: #00dfdf;
  margin-top: 5px;
}

.last-progressing__item:nth-child(2) {
  margin-right: 100px;
  margin-left: 100px;
}

.last-progressing__item:nth-child(2) .last-progressing__diagram {
  display: block;
  width: 50px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #f0f374;
}

.last-progressing__item:nth-child(3) .last-progressing__diagram {
  display: block;
  width: 50px;
  height: 3px;
  margin-bottom: 10px;
  background-color: #8e098e;
}

.live-stream {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
  max-width: 620px;
  width: 100%;
  margin-right: 20px;
  height: 20px;
}

h2.live-stream-title {
  text-align: center;
  background-color: #002338;
  width: 100%;
  font-weight: 400;
  padding: 8px 0;
  text-transform: uppercase;
  border-radius: 8px 8px 0 0;
  font-size: 18px;
}

.live-stream-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #01244a;
  border-radius: 0 0 8px 8px;
}

.live-stream-item {
  max-width: 300px;
  width: 100%;
  margin: 5px;
}

.live-stream-box {
  position: relative;
  background-color: #000;
  max-width: 300px;
  width: 100%;
  height: 190px;
  margin-bottom: 7px;
}

.live-stream-box::before {
  content: "";
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 37px);
  display: inline-block;
  width: 74px;
  height: 56px;
  background-image: url("./../images/youtube-icon-64px.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.live-stream-box-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}

@media only screen and (max-width: 1350px){

  .number {
    font-size: 25px;
  }

  .diagram-desc__end {
    max-width: 150px;
    width: 100%;
    top: calc(50% - 30px);
    left: calc(50% - 165px);
    font-size: 15px;
  }

  .progressing__item-span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1100px){
  .site-main {
    flex-wrap: wrap;
  }

  .statistics {
    max-width: 1050px !important;
    margin: 0 auto;
  }

  .progress__list {
    width: 340px;
    margin: 0;
  }

  .progress__item {
    width: 340px;
    width: 100%;
  }

  .number {
    font-size: 25px;
  }

  .progressing {
    max-width: 650px;
  }
  .progressing:first-child{
    margin-right: 20px;
  }

  .progressing:last-child{
    margin-left: 20px;
  }

  .diagram-desc__end {
    left: calc(50% - 170px);
  }

  .last-progressing__item:nth-child(2) {
    margin-right: 70px;
    margin-left: 70px;
  }

  .live-stream {
    max-width: 1010px;
    margin: 10px 45px 30px;
  }

  .live-stream-item {
    max-width: 328px;
  }

  .live-stream-box {
    max-width: 328px;
    margin-bottom: 10px;
  }
   

  .live-stream-box::before {
    left: calc(50% - 37px);
  }
}


@media only screen and (max-width: 768px){
  .statistics {
    max-width: 770px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .progress__inner {
    flex-wrap: wrap;
    gap: 25px;
  }

  .progress__list {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .progress__item {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
  }

  .progressing {
    max-width: 650px;
    margin: 0 auto !important;
  }

  .progressing:first-child{
    margin-right: 0px;
    order: 1;
  }

  .progressing:last-child{
    margin-left: 0px;
  }

  .progress-visitors__inner {
    gap: 50px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 650px;
  }

  .live-stream-box::before {
    left: calc(50% - 34px);
  }
}


@media only screen and (max-width: 576px){

  .progress__list {
    max-width: 330px;
  }

  .progress__item {
    max-width: 330px;
  }

  .text {
    font-size: 20px;
  }

  .canvas {
    flex-wrap: wrap;
  }

  .legend {
    margin: 10px auto 30px;
  }

  .caption-item {
    padding-left: 30px;
  }

  .caption-item::before {
    top: calc(50% - 11px);
  }

  .diagram-desc {
    top: calc(50% - 170px);
    left: calc(50% - 65px);
  }


  .diagram-desc__end {
    top: calc(50% - 175px);
    left: calc(50% - 75px);
  }

  .live-stream-list {
    padding: 20px 15px 5px;
  }

}


@media only screen and (max-width: 420px){

  .progress__list {
    max-width: 280px;
  }

  .text {
    padding: 5px;
  }

  .diagram-desc {
    top: calc(50% - 195px);
  }

  .diagram-desc__end {
    top: calc(50% - 200px);
    left: calc(50% - 75px);
  }

  .last-progressing__item:nth-child(2) {
    margin-right: 30px;
    margin-left: 30px;
  }

  .live-stream-list {
    padding: 20px 15px 5px;
  }

}

@media ( min-width: 1500px ) {
    .live-stream {
        max-width: 945px;
    }

    .live-stream-item {
      max-width: 440px;
      width: 100%;
      margin: 3px 15px;
    }

    .progressing {
      max-width: 580px;
      width: 100%;
      overflow: hidden;
      border-radius: 8px;
    }

    .progress__list {
      width: 100%;
      max-width: 300px;
      list-style-type: none;
    }

    .progress__item:not(:last-child) {
      margin-bottom: 24px;
    }

    .last-progressing__item:nth-child(1) .last-progressing__diagram {
      display: block;
      width: 50px;
      height: 73px;
      margin-bottom: 16px;
      background-color: #00dfdf;
      margin-top: 10px;
    }

    .progress-visitors__inner{
      margin-top: 40px;
      margin-bottom: 25px;
    }

    .live-stream-box {
      position: relative;
      background-color: #000;
      max-width: 440px;
      width: 100%;
      height: 190px;
      margin-bottom: 7px;
    }

    .live-stream-box-text {
      text-transform: uppercase;
      text-align: center;
      font-size: 15px;
      margin-top: 34px;
    }

    img {
      border-style: none;
      max-width: 440px;
      height: 215px;
   }
 }
